joblib==1.2.0
kedro>=0.16.0
kedro-viz>=3.1.0, <4.0
nbstripout==0.3.3
py2neo==4.3.0
pytest-cov>=2.5, <3.0
pytest-mock>=1.7.1,<2.0
pytest>=3.4, <4.0
matplotlib==3.3.2
networkx==2.5   
numpy==1.19.4
tqdm==4.51.0